@media screen and (max-width: 630px) {
    #container {
        width: 90%;
        padding: 0 auto;
    }

    /* 文章分类 */
    .rightbar {
        order: -1;
        margin: 0 0 5px 0;
        width: 100%;
        float: left;
        min-height: 170px;
    }

    .home-class ul {
        padding-left: 0;
    }

    .home-class li {
        display: inline-block;
        margin: 0 10px;
    }

    /* 推荐文章 */
    .home-leftBody {
        width: 100%;
        order: 0;
    }
}

@media screen and (min-width: 631px) and (max-width: 998px) {
    #container {
        width: 90%;
    }

    .rightbar {
        order: -1;
        margin: 0 0 5px 0;
        width: 100%;
        float: left;
        min-height: 170px;
    }

    .home-class ul {
        padding-left: 0;
    }

    .home-class li {
        display: inline-block;
        margin: 0 10px;
    }

    .home-leftBody {
        width: 100%;
        order: 0;
    }
}

@media screen and (min-width: 998px) and (max-width: 1280px) {
    #container {
        width: 998px;
    }

    .rightbar {
        order: 0;
        width: 300px;
        height: 455px;
    }

    .home-leftBody {
        width: 631px;
        order: 0;
    }

    .home-leftBody-article {
        width: 590px;
    }
}

@media screen and (min-width: 1280px) {
    #container {
        width: 998px;
    }

    .rightbar {
        order: 0;
        width: 300px;
        height: 455px;
    }

    .home-leftBody {
        width: 627px;
        order: -1;
    }

    .home-leftBody-article {
        width: 590px;
    }
}
