
$fontSelect = #fde6ba;

// 浅色模式
.theme-mode-light {
  --bodyBg: #fff;
  --textColor: #2f2f2f;
  --titleColor: #2f2f2f;
  --borderColor: #ccc;
  --leftNavColor: #fff;
  --leftNavBtn: #eee;
  --codeBg: #fafafa;
  --codeColor: #5a5a5a;
  --shadowColor: #e2e2e2;
  --cateCurrent: #eee;
  --categories: #f8f8f8;
  --homeArticleBg: #f3f3f3;
  codeThemeLight();
}

// 深色模式
.theme-mode-dark {
  --bodyBg: #222;
  --titleColor: #ccc;
  --textColor: #ccc;
  --leftNavColor: #333;
  --leftNavBtn: #444;
  --borderColor: #555;
  --codeBg: #252526;
  --codeColor: #5a5a5a;
  --shadowColor: #3c3838;
  --cateCurrent: #4b4b4b;
  --categories: #333;
  --homeArticleBg: #333;
  codeThemeDark();
}
