.home-header {

    div {
        float: left;
        margin: 10px 10px;
        text-align: center;
        height: 20px;
        width: 80px;
        font-size: 13px;

        &::after {
            content: '';
            display: block;
            height: 0;
            clear: both;
        }
    }
}

#foot {
    height: 80px;
    text-align: center;
    font-size: 20px;
    color: rgb(109, 110, 110);
}