* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
p,
div,
ul,
dl,
ol,
i,
em,
strong,
b,
form,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-family: "Microsoft Yahei";
}
ul,
ol,
dl {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(25, 56, 155);
}
i,
em {
  font-style: normal;
}
b,
strong {
  font-weight: normal;
}
input,
textarea {
  outline: none;
  resize: none;
}
.fl {
  float: left;
} //左浮动
.fr {
  float: right;
} //右浮动
.clearFix:after {
  display: block;
  content: "";
  clear: both;
  zoom: 1;
} //清除浮动
