@media screen and (max-width: 630px) {
    #container {
        width: 100%;
    }
    /* 文章分类 */
    .home-class {
        order: -1;
        margin: 0 auto;
        width: 607px;
        float: left;
        height: 116px;
    }
    .home-class ul{
        padding-left: 0;
    }
    .home-class li {
        display: inline-block;
        margin: 0 10px;
    }
    /* 推荐文章 */
    .home-headlines {
        width: 600px;
        order: 0;
    }
    .home-headlines-article {
        width: 600px;
    }

}
@media screen and (min-width: 631px) and (max-width: 998px) {
    #container {
        width: 80%;
    }
    .home-class {
        order: -1;
        margin: 0 auto;
        width: 607px;
        height: 116px;
        float: left;
    }
    .home-class ul{
        padding-left: 0;
    }
    .home-class li {
        display: inline-block;
        margin: 0 10px;
    }
    .home-headlines {
        width: 600px;
        order: 0;
    }
    .home-headlines-article {
        width: 600px;
    }
}
@media screen and (min-width: 998px) and (max-width: 1280px) {
    #container {
        width: 998px;
    }
    .home-class {
        order: 0;
        width: 300px;
        height: 455px;
    }
    .home-headlines {
        width: 590px;
        order: 0;
    }
    .home-headlines-article {
        width: 590px;
    }

}
@media screen and (min-width: 1280px) {
    #container {
        width: 998px;
    }
    .home-class {
        order: 0;
        width: 300px;
        height: 455px;
    }
    .home-headlines {
        width: 590px;
        order: -1;
    }
    .home-headlines-article {
        width: 590px;
    }
}
