@media screen and (max-width: 630px) {
    #container {
        width: 95%;
        padding: 0 auto;
    }

    .home-header-right {
        display: none;
    }

    /* right body */
    .rightbar {
        order: -1;
        margin: 0 0 5px 0;
        width: 100%;
        float: left;
        min-height: 150px;
    }

    .home-class ul {
        padding-left: 0;
    }

    .home-class li {
        display: inline-block;
        margin: 0 10px;
    }

    /* left body */
    .home-leftBody {
        width: 100%;
        order: 0;
    }
}

@media screen and (min-width: 631px) and (max-width: 998px) {
    #container {
        width: 90%;
    }

    .rightbar {
        order: -1;
        margin: 0 0 5px 0;
        width: 100%;
        float: left;
        min-height: 170px;
    }

    .home-class ul {
        padding-left: 0;
    }

    .home-class li {
        display: inline-block;
        margin: 0 10px;
    }

    .home-leftBody {
        width: 100%;
        order: 0;
    }
}

@media screen and (min-width: 998px) and (max-width: 1280px) {
    #container {
        width: 85%;
    }

    .rightbar {
        order: 0;
        width: 34%;
        height: 455px;
    }

    .home-leftBody {
        width: 62%;
        order: 0;
    }
}

@media screen and (min-width: 1280px) {
    #container {
        width: 70%;
    }

    .rightbar {
        order: 0;
        width: 35%;
        height: 455px;
    }

    .home-leftBody {
        width: 62%;
        order: -1;
    }
}
