.personal-header {
    position: relative;
    width: 750px;
    height: 150px;
    background-color: #fff;
    margin: 10px auto;
    padding: 0 20px;
    p {
        margin-top: 20px;
        font-size: 16px;
    }
    .personal-header-btn {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.personal-body {
    width: 750px;
    height: 200px;
    background-color: #fff;
    margin: 0 auto;
    span {
        font-size: 17px;
    }
}

