.content {
    width: 690px;
    min-height: 800px;
    margin: 0 auto;

    .img {
        width: 690px;
        height: 100px;
    }
    .title{
        display: inline-block;
        margin:15px 0 8px 0;
        font-size: 23px;
        font-weight: bold;
    }

    .authorName{
        font-size: 15px;
    }
}

