.card {
    height: 70px;
    .card-author{
        display: block;
    }
    hr {
        margin: 7px 0;
        width: 100px;
    }
    .card-like {
        color: rgb(155, 158, 158);
    }
    a {
        display: block;
        font-size: 14px;
        color: rgb(78, 139, 230);
        font-weight: bold;
    }
}

.recommend {
    .recommend-title {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin: 7px 0;
    }
    .jump {
        margin-top: 20px;
        font-size: 15px;
    }

}